.row{
    display: flex;
}
.column img{
    height: 560px;
    width: 450px;
}
.col{
    background-color: #99DC54;
    height: 560px;
    width: 450px;
}
.logo{
    height: 80px;
    padding: 10px;
}
.arrow{
    height: 40px;
    float: right;
    padding-right: 0px;
}
@font-face {
    font-family: "Sans Pro-Regular";
    src: url(SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: Sans Pro-Bold;
    src: url(SourceSansPro-Bold.ttf);
}
.dropdown{
    font-family: Sans Pro-Regular;
    font-size: 16px;
    margin: 0px 30px 20px 1100px;
    line-height: 40px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1px;
    border-width: 1px;
   text-align: justify;
}
.col1{
    background-image: url(plane-quantity-background.png);
    height: 560px;
    width: 450px;
}
.col2{
    background-image: url(plane-profit-background.png);
    height: 560px;
    width: 450px;
}

.p1{
    color: white;
    margin: 64px 0px 0px 20px;
    font-family: Sans Pro-Bold;
    font-size: 60px;
}
.p2{
    color: white;
    margin: 0px 0px 0px 20px;
    font-family: Sans Pro-Regular;
    font-size: 40px;
    
}
.img2{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}
hr{
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 20px;
    margin-right: 20px;
} 
.p4{
    color: white;
    margin: 80px 0px 0px 0px;
    font-family: Sans Pro-Regular;
    font-size: 40px;
}
.together{
    display: flex; 
    justify-content: flex-start;
}
.plane{
    float: left;
}
.p3{
    color: white;
    margin: 0px 0px 0px 32px;
    font-family: Sans Pro-Regular;
    font-size: 40px;
}